details {
	display: none;
}

xmi {
	display: block;
	background-color: red;
}

Model {
	display: block;
	background-color: red;
}

packagedElement {
	display: none;
}

packagedElement[name] {
	display: block;
	border: 1px solid black;
	margin: 8px;
}

packagedElement[name]:before {
	content: attr(name);
	font-weight: bold;
	display: block;
	padding: 4px;
	border-bottom: 1px solid black;
}


packagedElement[name][xmi\:type="uml:Package"]:before {
	content: "<<package>> " attr(name);
}

packagedElement[name][xmi\:type="uml:Class"]:before {
	content: "<<class>> " attr(name);
}

ownedAttribute, ownedOperation {
	display: block;
	margin: 4px;
}

ownedAttribute::before {
	content: attr(name);
}

ownedOperation::before {
	content: attr(name) " (";
}

ownedOperation::after {
	content: ")"
}

ownedParameter::before {
	display: inline;
	content: attr(name);
	padding: 0;
	margin: 0;
}